:root {
  --color-base: #3c2b75;
  --spacing: 0px ;
  --blur: 0px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 1em;
  background: #fafaf7;
  font-family: "Nunito Sans", sans-serif;
}

header {
  color: #3175eb;
}

h1 {
  text-align: center;
  font-weight: 200;
  font-size: 3rem;
  font-family: "Nunito", serif;
}

.row {
  padding: 1em 0;
}

.highlight {
  color: var(--color-base);
  font-weight: 600;
}

.controls {
  color: #3c2b75;
}
.controls__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .controls__list {
    display: flex;
    justify-content: space-around;
  }
}
.controls__list-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: .5rem 0;
}
@media (min-width: 768px) {
  .controls__list-item {
    margin: 0 1rem;
  }
}

.controls__label {
  padding-right: 1rem;
}
@media (min-width: 576px) {
  .controls__label {
    font-size: 2rem;
  }
}

.playground {
  margin: 0 auto;
}
.playground__img {
  display: block;
  margin: 0 auto;
  padding: var(--spacing);
  max-width: 960px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--color-base);
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  filter: blur(var(--blur));
}
